# Node modules
node_modules/
# Build files
build/
# Log files
*.log
# Environment variables
.env
# Python cache files
__pycache__/
*.py[cod]
# Environment variables
.env
# Database files
db.sqlite3
# virtual environment
djangoenv/